---
---
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ 'css/styles.css' | url }}">
  </head>
  <body>
   ( {{ testing }} )
    {% set greeting = 'hello' %}<br/>
    Yay, {{ greeting | upper }} world!<br/>
    {{ content | safe }}<br/>
  </body>
</html>