---
title: Home Template
layout: layouts/structure
---
<div id="homeContainer">
    <div id="homeMain">
        {% for post in collections.post %}
        <div class="post">
            <div class="postTitle">
                <a href="{{ post.url | url }}">{{ post.data.title | escape }}</a>
            </div>
            <div class="postDate">
                <span class="post-meta">{{ post.data.date }}</span>
            </div>
            <div class="postExcerpt">
                ...
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="homeSide" class="sideMenu">
        {% include 'components/litenIntroduktion.njk' %}
        {% include 'components/tagCloud.njk' %}
    </div>
</div>