<!DOCTYPE html>
<html lang="{{ global.websiteLanguage }}">
    {% include "htmlHead.njk" %}
    <body>
        <div id="backgroundWrapper">
            <img id="background"></img>
        </div>
        <div id="website">
            <header class="site-header" role="banner">
                {% include "bodyHead.html" %}
            </header>
            <main>
                {{ content | safe }}
            </main>
            <footer class="site-footer">
                {% include "bodyFoot.njk" %}
            </footer>
        </div>
    </body>
</html>