<div id="litenIntroduktion" class="sideMenuContainer">
    <div id="litenIntroduktionTitle" class="sideMenuTitle">Introduktion</div>
    <div id="litenIntroduktionContent" class="sideMenuContent">
        <p>Denna sida är tillägnad saker som jag känner för att dela med mig av, sådant
        som intresserar mig och det jag vill lära ut, på Svenska. Jag har arbetat flera år 
        som programmerare, speldesigner och grafiker etc. Förhoppningsvis kan jag visa att
        det inte är så svårt, bar dåligt förklarat och väcka folks intresse i datorer och 
        mjukvaruutveckling mm för det är framtiden. Denna sida är på Svenska för det finns
        tillräckligt med resurser på Engelska där ute.</p>
        <p>...Länk till större introduktion...</p>
    </div>
</div>