<div id="tagCloud" class="sideMenuContainer">
    <div id="tagCloudTitle" class="sideMenuTitle">Taggar</div>
    <div id="tagCloudContent" class="sideMenuContent">{% tagCloud2 collections %}</div>
</div>